<app-navbar></app-navbar>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="slider ">
  <div class="container">
    <div class="row ">
      <div class="col">
        <div class="item position-relative">
          <div class="img-item">
            <img src="https://cdn-icons-png.flaticon.com/512/500/500745.png" alt="item photo" class="w-100">
          </div>
          <a href="http://google.com" type="button" class="content-item text-center p-3 bg-info position-absolute">
            <h4>Sucursales De La Empresa</h4>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="item position-relative">
          <div class="img-item">
            <img src="https://cdn-icons-png.flaticon.com/512/3028/3028626.png" alt="item photo" class="w-100">
          </div>
          <a href="http://google.com" type="button" class="content-item text-center p-3 bg-info position-absolute">
            <h4>Productos De Empresa</h4>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="item position-relative">
          <div class="img-item">
            <img src="https://e7.pngegg.com/pngimages/106/629/png-clipart-computer-icons-shopping-cart-shop-logo-shopping-bags-trolleys.png" alt="item photo" class="w-100">
          </div>
          <a href="http://google.com" type="button"  class="content-item text-center p-3 bg-info position-absolute" >
            <h4>Productos Por Sucursales</h4>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>

